In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Movies_Dataset.xlsx')
print(df)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
995   Movie 996     Sci-Fi          2013          8.7   456.39
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[1000 rows x 5 columns]

In [4]:
action_movies = df[df['Genre'] == 'Action']
print(action_movies)

    Movie Name   Genre  Release_Year  IMDb_Rating  Revenue
4      Movie 5  Action          2012          6.6  1205.51
34    Movie 35  Action          2009          8.7   545.60
64    Movie 65  Action          2023          7.7  1137.79
65    Movie 66  Action          1999          3.1  1335.85
73    Movie 74  Action          2001          4.1   350.80
..         ...     ...           ...          ...      ...
930  Movie 931  Action          1994          8.6  1863.66
944  Movie 945  Action          2004          7.5  1709.81
980  Movie 981  Action          2022          5.2    28.40
988  Movie 989  Action          2023          4.1   231.67
998  Movie 999  Action          1996          8.9   941.67

[104 rows x 5 columns]

In [5]:
df1 = df[df['Release_Year'] > 2000]
print(df1)

    Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

In [6]:
highly_rated_movies = df[df['IMDb_Rating'] > 8.5]
print(highly_rated_movies)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
34     Movie 35     Action          2009          8.7   545.60
51     Movie 52    Mystery          1998          9.0  1089.93
56     Movie 57     Comedy          1993          9.2  1586.13
74     Movie 75  Adventure          1999          8.6  1688.49
81     Movie 82    Mystery          1997          8.6  1238.32
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
992   Movie 993     Horror          1985          9.6   951.23
995   Movie 996     Sci-Fi          2013          8.7   456.39
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[148 rows x 5 columns]

In [7]:
selected_columns_df = df[['Movie Name', 'Genre']]
print(selected_columns_df)

     Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

In [8]:
movies_between_1990_and_2010 = df[(df['Release_Year'] >= 1990) & (df['Release_Year'] <= 2010)]
print(movies_between_1990_and_2010)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[500 rows x 5 columns]

In [9]:
genre_counts = df['Genre'].value_counts()
print(genre_counts)

Genre
Drama        113
Comedy       110
Fantasy      107
Thriller     107
Action       104
Adventure     96
Sci-Fi        93
Romance       91
Horror        90
Mystery       89
Name: count, dtype: int64

In [10]:
highest_rated_movie = df[df['IMDb_Rating'] == df['IMDb_Rating'].max()]
print(highest_rated_movie)

    Movie Name    Genre  Release_Year  IMDb_Rating  Revenue
106  Movie 107  Romance          2007         10.0  1837.45
241  Movie 242   Comedy          2006         10.0   802.61
472  Movie 473  Fantasy          1985         10.0   845.18
564  Movie 565   Action          2020         10.0   943.50
610  Movie 611  Mystery          2017         10.0  1355.06
628  Movie 629  Mystery          1994         10.0   644.31

In [11]:
average_rating = df['IMDb_Rating'].mean()
print(f"The average IMDb rating of all movies is: {average_rating:.2f}")

The average IMDb rating of all movies is: 5.46

In [12]:
total_box_office_collection = df['Revenue'].sum()
print(f"The total box office collection of all movies is: {total_box_office_collection}")

The total box office collection of all movies is: 1049716.26

In [13]:
high_earning_movies = df[df['Revenue'] > 500]
print(high_earning_movies)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
993   Movie 994  Adventure          1989          7.3  1273.65
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[774 rows x 5 columns]

In [14]:
df['Rank'] = df['IMDb_Rating'].rank(ascending=False)
ranked_movies = df.sort_values(by='Rank')
print(ranked_movies[['Movie Name', 'Genre', 'Release_Year', 'IMDb_Rating', 'Rank']])

    Movie Name      Genre  Release_Year  IMDb_Rating   Rank
628  Movie 629    Mystery          1994         10.0    3.5
610  Movie 611    Mystery          2017         10.0    3.5
472  Movie 473    Fantasy          1985         10.0    3.5
241  Movie 242     Comedy          2006         10.0    3.5
564  Movie 565     Action          2020         10.0    3.5
..         ...        ...           ...          ...    ...
758  Movie 759     Horror          2000          1.0  997.5
297  Movie 298     Comedy          2006          1.0  997.5
699  Movie 700   Thriller          1984          1.0  997.5
577  Movie 578     Action          1999          1.0  997.5
80    Movie 81  Adventure          2002          1.0  997.5

[1000 rows x 5 columns]

In [15]:
sorted_movies = df.sort_values(by='Release_Year', ascending=False)
print(sorted_movies)

    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
320  Movie 321    Romance          2024          4.2   477.47  650.5
211  Movie 212     Comedy          2024          1.5   837.32  957.0
489  Movie 490   Thriller          2024          3.2  1536.79  765.5
808  Movie 809     Action          2024          6.0   714.96  432.5
917  Movie 918     Horror          2024          1.1  1042.80  991.0
..         ...        ...           ...          ...      ...    ...
509  Movie 510    Fantasy          1980          6.3  1260.11  392.0
798  Movie 799      Drama          1980          3.1  1587.13  774.0
496  Movie 497    Fantasy          1980          4.7  1683.97  588.0
794  Movie 795  Adventure          1980          4.5  1346.01  609.5
170  Movie 171    Mystery          1980          4.6  1684.78  599.0

[1000 rows x 6 columns]

In [16]:
duplicate_movies = df[df.duplicated(subset=['Movie Name'], keep=False)]
print(duplicate_movies)

   Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
9    Movie 10      Drama          1996          3.2  1352.66  765.5
10   Movie 11    Mystery          2003          6.3   596.43  392.0
11   Movie 12     Sci-Fi          1988          3.0  1134.01  786.5
12   Movie 10      Drama          1996          3.2  1352.66  765.5
13   Movie 11    Mystery          2003          6.3   596.43  392.0
14   Movie 12     Sci-Fi          1988          3.0  1134.01  786.5
15   Movie 16     Comedy          2006          2.3  1322.79  856.0
16   Movie 17     Horror          2007          6.2  1114.31  406.5
17   Movie 18  Adventure          1998          7.9  1426.73  221.0
18   Movie 19     Comedy          1986          6.0  1783.44  432.5
19   Movie 20    Fantasy          1982          6.9  1598.08  329.0
20   Movie 16     Comedy          2006          2.3  1322.79  856.0
21   Movie 17     Horror          2007          6.2  1114.31  406.5
22   Movie 18  Adventure          1998          7.9  1426.73  221.0
23   Movie 19     Comedy          1986          6.0  1783.44  432.5
24   Movie 20    Fantasy          1982          6.9  1598.08  329.0

In [17]:
unique_movies = df.drop_duplicates(subset=['Movie Name'], keep='first')
print(unique_movies)

     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53  432.5
1       Movie 2  Adventure          2000          2.2   987.24  869.0
2       Movie 3    Romance          2002          5.2  1122.13  529.5
3       Movie 4    Romance          2001          4.5   581.84  609.5
4       Movie 5     Action          2012          6.6  1205.51  353.5
..          ...        ...           ...          ...      ...    ...
995   Movie 996     Sci-Fi          2013          8.7   456.39  131.5
996   Movie 997  Adventure          1993          6.2  1255.27  406.5
997   Movie 998    Fantasy          2016          8.1  1161.96  199.5
998   Movie 999     Action          1996          8.9   941.67  104.5
999  Movie 1000     Horror          1995          9.4  1390.70   54.0

[992 rows x 6 columns]

In [18]:
df['Genre'] = df['Genre'].replace("Sci-Fi", "Science Fiction")
print(df)

     Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0       Movie 1  Science Fiction          2000          6.0  1680.53  432.5
1       Movie 2        Adventure          2000          2.2   987.24  869.0
2       Movie 3          Romance          2002          5.2  1122.13  529.5
3       Movie 4          Romance          2001          4.5   581.84  609.5
4       Movie 5           Action          2012          6.6  1205.51  353.5
..          ...              ...           ...          ...      ...    ...
995   Movie 996  Science Fiction          2013          8.7   456.39  131.5
996   Movie 997        Adventure          1993          6.2  1255.27  406.5
997   Movie 998          Fantasy          2016          8.1  1161.96  199.5
998   Movie 999           Action          1996          8.9   941.67  104.5
999  Movie 1000           Horror          1995          9.4  1390.70   54.0

[1000 rows x 6 columns]

In [19]:
df = df.head(10)
print(df)

  Movie Name            Genre  Release_Year  IMDb_Rating  Revenue   Rank
0    Movie 1  Science Fiction          2000          6.0  1680.53  432.5
1    Movie 2        Adventure          2000          2.2   987.24  869.0
2    Movie 3          Romance          2002          5.2  1122.13  529.5
3    Movie 4          Romance          2001          4.5   581.84  609.5
4    Movie 5           Action          2012          6.6  1205.51  353.5
5    Movie 6          Fantasy          1997          2.4   485.22  844.5
6    Movie 7          Mystery          2021          5.1  1683.99  545.5
7    Movie 8           Comedy          2005          4.0  1062.13  672.5
8    Movie 9           Horror          1992          2.8  1592.74  815.0
9   Movie 10            Drama          1996          3.2  1352.66  765.5

In [20]:
last_5_movies = df.tail(5)
print(last_5_movies)

  Movie Name    Genre  Release_Year  IMDb_Rating  Revenue   Rank
5    Movie 6  Fantasy          1997          2.4   485.22  844.5
6    Movie 7  Mystery          2021          5.1  1683.99  545.5
7    Movie 8   Comedy          2005          4.0  1062.13  672.5
8    Movie 9   Horror          1992          2.8  1592.74  815.0
9   Movie 10    Drama          1996          3.2  1352.66  765.5

In [21]:
average_imdb_rating_by_genre = df.groupby('Genre')['IMDb_Rating'].mean()
print(average_imdb_rating_by_genre)

Genre
Action             6.60
Adventure          2.20
Comedy             4.00
Drama              3.20
Fantasy            2.40
Horror             2.80
Mystery            5.10
Romance            4.85
Science Fiction    6.00
Name: IMDb_Rating, dtype: float64

In [22]:
movies_per_year = df['Release_Year'].value_counts().sort_index()
print(movies_per_year)

Release_Year
1992    1
1996    1
1997    1
2000    2
2001    1
2002    1
2005    1
2012    1
2021    1
Name: count, dtype: int64

In [23]:
total_box_office_per_genre = df.groupby('Genre')['Revenue'].sum()
print(total_box_office_per_genre)

Genre
Action             1205.51
Adventure           987.24
Comedy             1062.13
Drama              1352.66
Fantasy             485.22
Horror             1592.74
Mystery            1683.99
Romance            1703.97
Science Fiction    1680.53
Name: Revenue, dtype: float64